# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage tools
lib-cov
coverage

# Dependency directory
node_modules

# Generated css
public/styles/*.css

# vim plugins
.editorconfig
.tern-project
.ycm*
*.swp
